version: "3.9"
services:
  georender:
    build: 
      context: .
      dockerfile: ./georender/Dockerfile.pdal
    image: lxet/lidar_geocoordinate

  # kafka-broker:
  #   build: './src/kafka-service'
  #   image: confluentinc/cp-kafka
  
  # kafka-producer:
  #   build: 
  #     context: .
  #     dockerfile: Dockerfile.kafka
  # bacalau:
  #   build: 
  #     context: .
  #     dockerfile: Dockerfile-bacalau
    

  # twitter-bot:
  #   build: 
  #     context: ./src/
  #     dockerfile: Dockerfile-tweepy

  # bacalau-compute:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile-bacalau




