name: Test docker-compose build
on:
  push:
    branches:
      - dev-adding-v0.1
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build the bacalau service
        run: docker-compose build bacalau
      
      - name: building the georender docker image
        run: docker-compose build georender


